* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #8FC53C;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-moz-selection {
  background: #8FC53C;
  color: #ffffff;
}

::selection {
  background: #8FC53C;
  color: #ffffff;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

p {
  margin: 0;
  background-color: transparent;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: block;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  transition: all 0.3s;
  font-family: var(--general-font);
}

a {
  transition: all 0.3s;
}

input {
  outline: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  display: none;
}

main {
  width: 100%;
  min-height: 60vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
@media (width >= 1200px) {
  main {
    background: var(--d-1) no-repeat top 100px right, var(--d-2) no-repeat bottom 100px left;
  }
}

section {
  width: 100%;
  padding: 20px 0;
  position: relative;
}

.swiper {
  width: 100%;
  z-index: 0;
}
.swiper .swiper-slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@keyframes pulse-primary {
  0% {
    box-shadow: 0 0 0 0 #8FC53C;
  }
  80% {
    box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);
  }
}
.d-none {
  display: none !important;
}
@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
}
@media (min-width: 1400px) {
  .d-xxl-none {
    display: none !important;
  }
}
.d-block {
  display: block !important;
}
@media (min-width: 576px) {
  .d-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .d-xl-block {
    display: block !important;
  }
}
@media (min-width: 1400px) {
  .d-xxl-block {
    display: block !important;
  }
}
.d-flex {
  display: flex !important;
}
@media (min-width: 576px) {
  .d-sm-flex {
    display: flex !important;
  }
}
@media (min-width: 768px) {
  .d-md-flex {
    display: flex !important;
  }
}
@media (min-width: 992px) {
  .d-lg-flex {
    display: flex !important;
  }
}
@media (min-width: 1200px) {
  .d-xl-flex {
    display: flex !important;
  }
}
@media (min-width: 1400px) {
  .d-xxl-flex {
    display: flex !important;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1170px;
  }
}

.primary__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40px;
  font-size: 14px;
  border-radius: 10px;
  background-color: #8FC53C;
  color: #ffffff;
  font-style: normal;
  letter-spacing: 1.6px;
  font-weight: 500;
  cursor: pointer;
}
@media (width >= 768px) {
  .primary__button {
    min-height: 56px;
    font-size: 16px;
  }
}
.primary__button:hover {
  animation: pulse-primary 1s ease infinite;
}
.primary__button.detail {
  max-width: 230px;
}

.section__heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
@media (width >= 576px) {
  .section__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.section__heading .sh__title {
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
  letter-spacing: 2.4px;
}
@media (width >= 576px) {
  .section__heading .sh__title {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    background-position: center left;
  }
}
.section__heading a {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #8FC53C;
  text-decoration: underline;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
}
@media (width >= 576px) {
  .section__heading a {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
  }
}
.section__heading a:hover {
  text-decoration: none;
}

.section__heading-secondary {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid rgba(143, 197, 60, 0.4);
  margin-bottom: 20px;
  gap: 10px;
}
.section__heading-secondary .shs__title {
  width: 100%;
  max-width: 800px;
  color: #303030;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 2.4px;
}
@media (width >= 576px) {
  .section__heading-secondary .shs__title {
    font-size: 24px;
    line-height: 40px;
  }
}
.section__heading-secondary .shs__design {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.section__heading-secondary .shs__design .shsd__line {
  width: 100%;
  height: 1px;
  background-color: rgba(143, 197, 60, 0.3490196078);
}
.section__heading-secondary .shs__design img {
  -o-object-fit: contain;
     object-fit: contain;
}
.section__heading-secondary .shs__subtitle {
  width: 100%;
  max-width: 800px;
  color: #303030;
  font-size: 14px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.6px;
}
@media (width >= 576px) {
  .section__heading-secondary .shs__subtitle {
    font-size: 16px;
    line-height: 30px;
  }
}

.product__card {
  width: 100%;
  max-width: 265px;
  min-height: 315px;
  border-radius: 10px;
  border: 1px solid #EFEFEF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.3s;
  padding: 10px;
  background-color: #fff;
}
.product__card .product__image {
  width: 230px;
  height: 230px;
}
.product__card .product__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product__card .product__rating {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #FCC00E;
}
.product__card .product__title {
  color: #303030;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.6px;
}
.product__card .product__price {
  color: #8FC53C;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
.product__card .product__code {
  color: #303030;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.2px;
}
.product__card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 370px;
  gap: 20px;
}
.blog__card .blog__image {
  width: 100%;
  height: 250px;
}
.blog__card .blog__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.blog__card .blog__title {
  width: 100%;
  color: #303030;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  transition: all 0.3s;
}
.blog__card .blog__date {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.blog__card .blog__date i {
  color: #8FC53C;
}
.blog__card .blog__date span {
  display: block;
  color: #848484;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.blog__card .blog__text {
  width: 100%;
  color: #303030;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.84px;
}
.blog__card:hover {
  transform: scale(0.98);
}
.blog__card:hover .blog__title {
  color: #8FC53C;
}

.articles__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media (width >= 992px) {
  .articles__wrapper .article__row:nth-child(even) {
    flex-direction: row-reverse;
  }
}
.articles__wrapper .article__row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (width >= 992px) {
  .articles__wrapper .article__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
  }
}
.articles__wrapper .article__row .article__image {
  width: 100%;
  max-width: 560px;
}
.articles__wrapper .article__row .article__image img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.articles__wrapper .article__row .article__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 560px;
}
@media (width >= 992px) {
  .articles__wrapper .article__row .article__content {
    max-width: 100%;
  }
}
.articles__wrapper .article__row .article__content .article__text {
  width: 100%;
  text-align: center;
  color: #303030;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.6px;
}
@media (width >= 576px) {
  .articles__wrapper .article__row .article__content .article__text {
    font-size: 16px;
    line-height: 30px;
  }
}

.form__check {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.form__check input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #8FC53C;
  border-radius: 5px;
  background-image: var(--i);
  background-repeat: no-repeat;
  background-size: 0;
  transition: all 0.3s;
  background-position: top 1px left 1px;
}
.form__check input:checked {
  background-size: 18px;
  background-color: #8FC53C;
}
.form__check label {
  color: #303030;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.form__elements {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (width >= 768px) {
  .form__elements {
    grid-template-columns: repeat(2, 1fr);
  }
  .form__elements .full {
    grid-column: 1/span 2;
  }
}

.form__element {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}
.form__element label {
  color: #535353;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__element input,
.form__element textarea {
  width: 100%;
  border: 1px solid rgba(143, 197, 60, 0.5490196078);
  min-height: 54px;
  padding: 15px;
  border-radius: 5px;
  color: #303030;
  font-size: 16px;
  font-family: Poppins;
}
.form__element input::-moz-placeholder, .form__element textarea::-moz-placeholder {
  color: rgba(143, 197, 60, 0.5490196078);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__element input::placeholder,
.form__element textarea::placeholder {
  color: rgba(143, 197, 60, 0.5490196078);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__element textarea {
  resize: none;
  min-height: 165px;
}

header {
  width: 100%;
  position: relative;
}
header .header__swiper {
  width: 100%;
  height: 100vh;
  max-height: 740px;
  z-index: 1;
}
header .header__swiper .swiper {
  width: 100%;
  height: 100%;
}
header .header__swiper .swiper .banner__slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header .header__swiper .swiper .banner__slide .bs__content {
  width: 100%;
  height: 100%;
  background-color: rgba(19, 19, 19, 0.6980392157);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 180px 15px;
  text-align: center;
  gap: 30px;
  overflow: hidden;
}
@media (width >= 768px) {
  header .header__swiper .swiper .banner__slide .bs__content {
    padding: 220px 15px;
  }
}
header .header__swiper .swiper .banner__slide .bs__content .bs__title {
  width: 100%;
  max-width: 660px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2.6px;
  line-height: 30px;
  font-style: normal;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}
@media (width >= 768px) {
  header .header__swiper .swiper .banner__slide .bs__content .bs__title {
    font-size: 24px;
    letter-spacing: 3.6px;
    line-height: 40px;
  }
}
header .header__swiper .swiper .banner__slide .bs__content .bs__line {
  width: 100%;
  max-width: 560px;
  height: 1px;
  background-color: rgba(143, 197, 60, 0.4);
}
header .header__swiper .swiper .banner__slide .bs__content .bs__text {
  width: 100%;
  max-width: 550px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.4px;
  line-height: 20px;
  font-style: normal;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}
@media (width >= 768px) {
  header .header__swiper .swiper .banner__slide .bs__content .bs__text {
    font-size: 16px;
    letter-spacing: 2.4px;
    line-height: 30px;
  }
}
header .header__swiper .swiper .swiper-pagination {
  bottom: 20px;
}
@media (width >= 768px) {
  header .header__swiper .swiper .swiper-pagination {
    bottom: 40px;
  }
}
header .header__swiper .swiper .swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid transparent;
  position: relative;
}
header .header__swiper .swiper .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
}
header .header__swiper .swiper .swiper-pagination-bullet-active {
  border-color: #ffffff;
}
header .general__navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
header .general__navbar.fixed {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
}
header .general__navbar .gn__inner {
  width: 100%;
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .general__navbar .gn__inner .logo {
  display: block;
  width: 150px;
  height: 75px;
}
@media (width >= 576px) {
  header .general__navbar .gn__inner .logo {
    width: 200px;
  }
}
@media (width >= 768px) {
  header .general__navbar .gn__inner .logo {
    width: 250px;
    height: 100px;
  }
}
@media (width >= 1200px) {
  header .general__navbar .gn__inner .logo {
    width: 300px;
  }
}
header .general__navbar .gn__inner .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .general__navbar .gn__inner .menu__button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(217, 217, 217, 0.2509803922);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
  gap: 6px;
  cursor: pointer;
  transition: all 0.3s;
}
@media (width >= 576px) {
  header .general__navbar .gn__inner .menu__button {
    width: 65px;
    height: 65px;
    padding: 15px;
  }
}
header .general__navbar .gn__inner .menu__button:hover {
  background-color: #8FC53C;
}
header .general__navbar .gn__inner .menu__button:active {
  background-color: rgba(217, 217, 217, 0.2509803922);
}
header .general__navbar .gn__inner .menu__button .mb__line {
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: #EDF7DD;
}
@media (width >= 576px) {
  header .general__navbar .gn__inner .menu__button .mb__line {
    height: 4px;
  }
}
header .general__navbar .gn__inner .menu__button .mb__line:nth-child(1) {
  width: 80%;
}
header .general__navbar .gn__inner .menu__button .mb__line:nth-child(2) {
  width: 100%;
}
header .general__navbar .gn__inner .menu__button .mb__line:nth-child(3) {
  width: 60%;
}

.menu__wrapper {
  position: fixed;
  top: 0;
  right: -100%;
  opacity: 0;
  transition: all 0.5s;
  width: 100%;
  max-width: 520px;
  height: 100vh;
  overflow: auto;
  background-color: #8FC53C;
  z-index: 3000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
.menu__wrapper.active {
  right: 0;
  opacity: 1;
}
@media (width >= 576px) {
  .menu__wrapper {
    padding: 60px;
  }
}
.menu__wrapper .menu__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu__wrapper .menu__header .close__button {
  width: 56px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(217, 217, 217, 0.2509803922);
  font-size: 26px;
}
.menu__wrapper .menu__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.menu__wrapper .menu__body .links__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu__wrapper .menu__body .links__wrapper a {
  width: 100%;
  text-align: end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid #9ED647;
  padding: 10px 0;
}
@media (width >= 576px) {
  .menu__wrapper .menu__body .links__wrapper a {
    padding: 18px 0;
  }
}
.menu__wrapper .menu__body .links__wrapper a:hover {
  border-color: #fff;
}

footer {
  width: 100%;
  position: relative;
  padding: 20px 0;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
footer .footer__bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: hard-light;
}
footer .footer__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .footer__bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.8980392157);
  mix-blend-mode: hard-light;
}
footer .footer__top {
  width: 100%;
  padding: 50px 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
@media (width >= 576px) {
  footer .footer__top {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width >= 992px) {
  footer .footer__top {
    grid-template-columns: repeat(4, 1fr);
  }
}
footer .footer__top .footer__col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
footer .footer__top .footer__links {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
@media (width >= 992px) {
  footer .footer__top .footer__links {
    align-items: flex-start;
    text-align: start;
  }
}
footer .footer__top .footer__links .links__title {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
footer .footer__top .footer__links a {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
@media (width >= 992px) {
  footer .footer__top .footer__links a {
    text-align: start;
  }
}
footer .footer__top .footer__links a:hover {
  text-decoration: underline;
}
footer .footer__top form.search-form {
  position: relative;
}
footer .footer__top form.search-form input {
  width: 100%;
  max-width: 230px;
  height: 52px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  padding: 15px 20px;
  padding-right: 45px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  caret-color: #fff;
}
footer .footer__top form.search-form input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  color: #fff;
}
footer .footer__top form.search-form input::placeholder {
  font-family: "Poppins", sans-serif;
  color: #fff;
}
footer .footer__top form.search-form button {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  font-size: 18px;
}
footer .footer__top .social-icons {
  width: 100%;
  max-width: 230px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}
footer .footer__top .social-icons a {
  color: #fff;
}
footer .footer__bottom {
  width: 100%;
  border-top: 1px solid #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding: 20px 0;
  flex-wrap: wrap;
}
@media (width >= 576px) {
  footer .footer__bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}
footer .footer__bottom .copyright {
  color: #ACB1C4;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
footer .footer__bottom a {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.about__row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media (width >= 992px) {
  .about__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
  }
}
.about__row .about__image {
  width: 100%;
  max-width: 560px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about__row .about__image img {
  width: 100%;
  height: auto;
  max-height: 480px;
  -o-object-fit: contain;
     object-fit: contain;
}
.about__row .about__image.secondary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 20px 0;
}
.about__row .about__image.secondary img {
  width: 46%;
  height: auto;
  max-width: 270px;
  max-height: 430px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
  transition: all 0.3s;
}
@media (width >= 768px) {
  .about__row .about__image.secondary img {
    width: 50%;
    height: 98%;
  }
}
.about__row .about__image.secondary img:nth-child(1) {
  transform: translateY(-20px);
}
.about__row .about__image.secondary img:nth-child(2) {
  transform: translateY(20px);
}
.about__row .about__image.secondary:hover img:nth-child(1) {
  transform: translateY(20px);
}
.about__row .about__image.secondary:hover img:nth-child(2) {
  transform: translateY(-20px);
}
.about__row .about__content {
  width: 100%;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
@media (width >= 992px) {
  .about__row .about__content {
    padding: 30px 0;
  }
}
.about__row .about__content .content__title {
  width: 100%;
  color: #303030;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 20px;
  letter-spacing: 1.4px;
}
@media (width >= 768px) {
  .about__row .about__content .content__title {
    font-size: 24px;
    letter-spacing: 2.4px;
  }
}
.about__row .about__content .content__sub-title {
  width: 100%;
  border-left: 3px solid #8FC53C;
  padding-left: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.6px;
}
@media (width >= 768px) {
  .about__row .about__content .content__sub-title {
    font-size: 16px;
  }
}
.about__row .about__content .content__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.6px;
}
@media (width >= 768px) {
  .about__row .about__content .content__text {
    font-size: 16px;
  }
}

.about__text {
  margin-top: 30px;
  width: 100%;
  text-align: start;
  color: #303030;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.6px;
}

.products-swiper {
  padding-bottom: 40px;
}
.products-swiper .swiper-slide {
  padding: 5px;
}
.products-swiper .swiper-pagination-bullet {
  background-color: #8FC53C;
}

.products__section-general .ps__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media (width > 992px) {
  .products__section-general .ps__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
  }
}
.products__section-general .ps__inner .ps__left {
  width: 100%;
}
@media (width > 992px) {
  .products__section-general .ps__inner .ps__left {
    max-width: 230px;
  }
}
.products__section-general .ps__inner .ps__left .filter__toggle {
  margin-bottom: 20px;
}
@media (width >= 992px) {
  .products__section-general .ps__inner .ps__left .filter__toggle {
    display: none;
  }
}
.products__section-general .ps__inner .ps__right {
  width: 100%;
}
.products__section-general .ps__inner .product__filters {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  display: none;
}
@media (width >= 992px) {
  .products__section-general .ps__inner .product__filters {
    display: flex;
  }
}
.products__section-general .ps__inner .product__filters .filter__collapse {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #F4F4F4;
  border-radius: 10px;
}
.products__section-general .ps__inner .product__filters .filter__collapse .fc__button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F4F4F4;
  min-height: 45px;
  padding: 0 15px;
  border-radius: 10px;
  cursor: pointer;
}
.products__section-general .ps__inner .product__filters .filter__collapse .fc__button span {
  color: #303030;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.products__section-general .ps__inner .product__filters .filter__collapse .fc__button button {
  color: #8FC53C;
  transition: all 0.3s;
}
.products__section-general .ps__inner .product__filters .filter__collapse.collapsed .fc__button button {
  transform: rotate(-180deg);
}
.products__section-general .ps__inner .product__filters .fc__content {
  width: 100%;
  padding: 12px 15px;
}
.products__section-general .ps__inner .product__filters .fc__content .fc__checkboxs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.products__section-general .ps__inner .product__filters .filter__confirm {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}
.products__section-general .ps__inner .product__filters .filter__confirm button {
  cursor: pointer;
}
.products__section-general .ps__inner .product__filters .filter__confirm .primary__button {
  max-width: 120px;
}
.products__section-general .ps__inner .products__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  place-items: center;
}
@media (width >= 576px) {
  .products__section-general .ps__inner .products__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width >= 1200px) {
  .products__section-general .ps__inner .products__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.blogs-swiper {
  padding-bottom: 40px;
}
.blogs-swiper .swiper-pagination-bullet {
  background-color: #8FC53C;
}

.blogs-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 40px;
}
@media (width >= 768px) {
  .blogs-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width >= 992px) {
  .blogs-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

.mission__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.mission__content .mission__image {
  width: 100%;
}
.mission__content .mission__image img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.mission__content .mission__text {
  width: 100%;
  text-align: center;
  color: #303030;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.6px;
}
@media (width >= 576px) {
  .mission__content .mission__text {
    font-size: 16px;
    line-height: 30px;
  }
}

.gallery__buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.gallery__buttons .gallery__button {
  min-width: 160px;
  min-height: 46px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #303030;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}
.gallery__buttons .gallery__button.active {
  background-color: #8FC53C;
  color: #fff;
  background-image: var(--i);
  background-position: center right;
  background-repeat: no-repeat;
}
.gallery__buttons .gallery__button.active:hover {
  animation: pulse-primary 1s ease infinite;
}

.gallery__tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.gallery__tabs .gallery__tab {
  width: 100%;
  display: none;
  grid-template-columns: 1fr;
  gap: 40px;
  place-items: center;
}
.gallery__tabs .gallery__tab.active {
  display: grid;
}
@media (width >= 576px) {
  .gallery__tabs .gallery__tab {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width >= 992px) {
  .gallery__tabs .gallery__tab {
    grid-template-columns: repeat(3, 1fr);
  }
}
.gallery__tabs .gallery__tab .gallery__item {
  width: 100%;
  max-width: 420px;
  position: relative;
  transition: all 0.3s;
}
.gallery__tabs .gallery__tab .gallery__item .gallery__image {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.gallery__tabs .gallery__tab .gallery__item .hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: rgba(241, 238, 238, 0.3490196078);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s;
}
.gallery__tabs .gallery__tab .gallery__item .hover a {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.7490196078);
}
.gallery__tabs .gallery__tab .gallery__item:hover .hover {
  opacity: 1;
}

.contact__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.contact__form .cf__heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.contact__form .cf__heading .cfh__title {
  text-transform: uppercase;
  color: #8FC53C;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.92px;
}
.contact__form .cf__heading .cfh__design {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.contact__form .cf__heading .cfh__design .cfhd__line {
  width: 100%;
  max-width: 160px;
  height: 1px;
  background-color: rgba(143, 197, 60, 0.3490196078);
}
.contact__form .cf__heading .cfh__design img {
  -o-object-fit: contain;
     object-fit: contain;
}
@media (width >= 768px) {
  .contact__form .primary__button {
    max-width: 320px;
    align-self: flex-end;
  }
}

.contact__map {
  width: 100%;
  height: 400px;
  margin-top: 50px;
}
.contact__map iframe {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=styles.css.map */