.form__check {
    width: 100%;
    @include row-justify-start;
    gap: 10px;
    cursor: pointer;

    input {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 18px;
        height: 18px;
        border: 1px solid $primary-color;
        border-radius: 5px;
        background-image: var(--i);
        background-repeat: no-repeat;
        background-size: 0;
        transition: all 0.3s;
        background-position: top 1px left 1px;

        &:checked {
            background-size: 18px;
            background-color: $primary-color;
        }
    }

    label {
        color: $text-color;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
    }
}

.form__elements {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;

    @media (width >= 768px) {
        grid-template-columns: repeat(2, 1fr);
        .full{
            grid-column: 1 / span 2;
        }
    }
}

.form__element {
    width: 100%;
    @include column-align-start;
    gap: 6px;

    label {
        color: #535353;
        font-size: $text-size;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    

    input,
    textarea {
        width: 100%;
        border: 1px solid #8FC53C8C;
        min-height: 54px;
        padding: 15px;
        border-radius: 5px;
        color: $text-color;
        font-size: 16px;
        font-family: Poppins;

        &::placeholder {
            color: #8FC53C8C;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    textarea{
        resize: none;
        min-height: 165px;
    }
}